*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
a{
    text-decoration:none;
    color:inherit;
    font-family: system-ui, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    padding: 1rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #1c7c04;
}